@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.theme-dark {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
}
.theme-dark .txt-primary,
.theme-dark .txt-secondary,
.theme-dark .btn-lang {
  color: #ffffff;
}
.theme-dark .logo_theme_primary {
  fill: #ffffff;
}
.theme-dark .icon_theme_secondary {
  fill: #ffffff;
}
.theme-dark .contact-info__item::before {
  background-color: #ffffff;
}
.theme-dark .link-primary {
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
}
.theme-light .txt-primary {
  color: #323264;
}
.theme-light .txt-secondary,
.theme-light .btn-lang {
  color: #b3b3ba;
}
.theme-light .logo_theme_primary {
  fill: #323264;
}
.theme-light .icon_theme_secondary {
  fill: #b3b3ba;
}
.theme-light .contact-info__item::before {
  background-color: #b3b3ba;
}
.theme-light .link-primary {
  color: #24a3ff !important;
}
.theme-light .link-primary:hover {
  color: #f0145a !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-exlg {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1600px;
}

.container-lg {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1320px;
}

.container-md {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1080px;
}

.container-sm {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 904px;
}

.container-exsm {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 648px;
}

.d-flex {
  display: flex;
}
.d-flex_x_space-between {
  justify-content: space-between;
}
.d-flex_x_center {
  justify-content: center;
}
.d-flex_y_center {
  align-items: center;
}
.d-flex_gap_6 {
  gap: 6px;
}

.m_auto {
  margin: auto;
}

.txt {
  font-size: 1rem;
  line-height: 19.5px;
}
.txt-exmd {
  font-size: 1.1875rem;
  line-height: 19px;
}
.txt_bold {
  font-weight: bold;
}
.txt_normal {
  font-weight: 400;
}
.txt_center {
  text-align: center;
}

.h1 {
  font-size: 2.375rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.btn:focus {
  color: white;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
}
.btn-primary:hover {
  color: #323264;
  background-color: #e6e6f0;
  border-color: #e6e6f0;
}

.section-gradient {
  min-height: calc(
  100vh - 20px
);
  border-radius: 0 0 12px 12px;
  position: relative;
  margin-bottom: 20px;
}
.section-gradient__shadow {
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.section-gradient__shadow_1 {
  bottom: -10px;
  width: calc(100% - 40px);
  background-color: #cacadb;
  left: 20px;
}
.section-gradient__shadow_2 {
  bottom: -20px;
  width: calc(100% - 80px);
  background-color: #e7e7f2;
  left: 40px;
}

.main-wrap {
  min-height: calc(
  100vh - 20px
);
  position: relative;
}
.main-wrap__bg {
  position: absolute;
  min-height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
.main-wrap__bg-object {
  position: absolute;
  height: 100%;
}
.main-wrap__content {
  position: relative;
  min-height: calc(
  100vh - 20px
);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrap__nav {
  padding-bottom: 45px;
}

.main-header {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 50px;
  grid-template-areas: "info" "logo" "nav";
}
@media screen and (min-width: 768px) {
  .main-header {
    grid-template-areas: "logo info" "logo nav";
  }
}
@media (max-width: 500px) {
  .main-header {
    padding-top: 10px;
  }
}
.main-header__logo {
  grid-area: logo;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main-header__logo {
    margin-bottom: 0;
  }
}
@media (max-width: 500px) {
  .main-header__logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.main-header__info {
  grid-area: info;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main-header__info {
    margin-bottom: 16px;
  }
}
@media (max-width: 500px) {
  .main-header__info {
    justify-self: start;
    width: 100%;
    justify-content: space-between;
  }
}
.main-header__info::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -12px;
  display: block;
  padding-top: 45px;
}
@media (max-width: 500px) {
  .main-header__info::before {
    width: 100vw;
    background-color: rgba(245, 245, 250, 0.128);
  }
}
.main-header__nav {
  grid-area: nav;
}
.main-header__info, .main-header__nav {
  justify-self: start;
}
@media screen and (min-width: 768px) {
  .main-header__info, .main-header__nav {
    justify-self: end;
  }
}
.main-header__lang-btn {
  position: relative;
}
.main-header__link {
  color: #fff;
}
.main-header__link:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 500px) {
  .navbar {
    display: none;
  }
}

.canvas__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 40px 0;
}

.canvas__link {
  background-color: #F5F5FA;
  border-radius: 12px;
  padding: 7px 0 7px;
  color: #24A3FF;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.canvas__link:hover {
  background-color: #e6e6f0;
  color: #f0145a;
}

.offcanvas-header {
  justify-content: end;
}

.offcanvas.offcanvas-bottom {
  height: 380px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo-svg {
  max-width: 130px;
  width: 100%;
}

.btn-lang {
  border: none;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 7px;
  border-radius: 8px;
}
.btn-lang_active {
  background-color: #f0145a;
}

.contact-info__item {
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.contact-info__item:before {
  content: "";
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  left: 0;
}

.link {
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.link:hover {
  color: #f0145a;
  border-bottom-color: #f0145a;
}

.btn-circle {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}
.btn-circle__arrow {
  display: inline-block;
  max-width: 18px;
  width: 100%;
}
.btn-circle__arrow path {
  stroke: white;
  transition: stroke 0.3s ease;
}
.btn-circle:hover {
  border-color: #f0145a;
}
.btn-circle:hover path {
  stroke: #f0145a;
}

.slider-wrap {
  margin-top: 60px;
}
.slider-wrap__buttons {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .slider-wrap__buttons {
    flex-direction: row;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .slider-wrap__buttons {
    padding-bottom: 30px;
  }
}
.slider-wrap .carousel-item {
  max-width: 861px;
  padding: 30px 30px 0 30px;
}
@media (min-width: 768px) {
  .slider-wrap .carousel-item {
    padding: 60px 60px 0 60px;
  }
}
@media (min-width: 1024px) {
  .slider-wrap .carousel-item {
    padding: 43px 0 43px 60px;
  }
}
.slider-wrap__help-box {
  width: 450px;
  height: 46px;
}
@media (min-width: 1024px) {
  .slider-wrap__help-box {
    display: none;
  }
}
.slider-wrap .box-2 {
  width: 450px;
}
@media (max-width: 790px) {
  .slider-wrap .box-2 {
    width: 600px;
  }
}
@media (max-width: 640px) {
  .slider-wrap .box-2 {
    width: 750px;
  }
}
@media (max-width: 494px) {
  .slider-wrap .box-2 {
    width: 800px;
  }
}
@media (max-width: 460px) {
  .slider-wrap .box-2 {
    width: 450px;
  }
}
.slider-wrap .box-3 {
  width: 300px;
}
@media (max-width: 1024px) {
  .slider-wrap .box-3 {
    display: none;
  }
}
@media (max-width: 940px) {
  .slider-wrap .box-3 {
    display: contents;
  }
}
.slider-wrap .last-box {
  display: block;
}
@media (min-width: 460px) {
  .slider-wrap .last-box {
    display: none;
  }
}
.slider-wrap__btn {
  font-size: 2.375rem;
  font-weight: 700;
  color: #b3b3ba;
  text-decoration: none;
  width: 100%;
  max-width: 375px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .slider-wrap__btn {
    font-size: 32px;
    width: 100% !important;
    font-weight: 650;
    line-height: 30px;
    max-width: 316px;
  }
}
.slider-wrap__content {
  color: white;
}
.slider-wrap__content-h2 {
  font-size: 1.875rem;
  margin-bottom: 30px;
}
.slider-wrap__content-txt {
  line-height: 30px;
  font-size: 19px;
}

.carousel {
  display: flex;
}
@media (max-width: 1024px) {
  .carousel {
    flex-direction: column;
  }
}

.carousel-indicators {
  max-width: 439px;
  width: 100%;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0 60px 0 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}
@media (max-width: 1024px) {
  .carousel-indicators {
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    border-right: none;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  text-indent: 0;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  opacity: 1;
  transition: opacity 0.6s ease;
}
.carousel-indicators [data-bs-target].active {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}

.cards-wrap {
  margin-top: 60px;
}
.cards-wrap__headline {
  margin-bottom: 60px;
}
.cards-wrap__h4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 10px;
  font-size: 0.875rem;
  color: #24a3ff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.cards-wrap__h4:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.cards-wrap__header {
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.cards-wrap__cards {
  gap: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-auto-rows: minmax(268px, auto);
  padding-bottom: 60px;
}
.cards-wrap__card {
  max-width: 400px;
}
.cards-wrap__icon {
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 92px;
  width: 92px;
}
.cards-wrap__h2 {
  font-size: 1.375rem;
  color: #24a3ff;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 27px;
}
.cards-wrap__txt {
  line-height: 26px;
  color: white;
}

.team-slider {
  margin-top: 60px;
  display: flex;
  align-items: center;
  min-height: 344px;
}
@media (max-width: 966px) {
  .team-slider {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
  }
}
.team-slider__img {
  max-width: 400px;
  width: 100%;
  height: 344px;
  border-radius: 12px 0 0 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1285px) {
  .team-slider__img {
    min-height: 386px;
  }
}
@media (max-width: 1065px) {
  .team-slider__img {
    min-height: 432px;
  }
}
@media (max-width: 966px) {
  .team-slider__img {
    height: 500px;
    width: 100%;
    max-width: 648px;
    border-radius: 12px 12px 0 0;
  }
}
@media (max-width: 500px) {
  .team-slider__img {
    height: auto;
  }
}
.team-slider__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ededf7;
  padding-left: 30px;
  max-width: 888px;
  border-radius: 0 12px 12px 0;
}
@media (min-width: 1280px) {
  .team-slider__content {
    min-height: 344px;
  }
}
@media (max-width: 966px) {
  .team-slider__content {
    max-width: 648px;
    border-radius: 0 0 12px 12px;
  }
}
.team-slider__h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 0.875rem;
  color: #24a3ff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.team-slider__h4:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.team-slider__h3 {
  padding-bottom: 30px;
  max-width: 860px;
  font-weight: 700;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
@media (max-width: 768px) {
  .team-slider__h3 {
    font-size: 30px;
    line-height: 37px;
  }
}
.team-slider__name {
  color: #b3b3ba;
  font-weight: 700;
  margin-bottom: 6px;
}
.team-slider__h6 {
  font-size: 0.875rem;
  font-weight: 400;
  color: #b3b3ba;
  margin-bottom: 30px;
}

.slider-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.blue-color {
  background-color: #24A3FF !important;
  opacity: 1 !important;
}

.slider-btn {
  max-width: 16px;
  height: 16px;
  width: 100%;
  border: none;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
}

.container-logo {
  max-width: 1440px;
}
@media (min-width: 1140px) {
  .container-logo {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
}

.logo-wrap__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.logo-wrap__h2 {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #323264;
}
.logo-wrap__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo-wrap__img {
  width: 25%;
}
@media (max-width: 768px) {
  .logo-wrap__img {
    width: 33%;
  }
}
@media (max-width: 500px) {
  .logo-wrap__img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .f-none {
    display: none;
  }
}

.bg-color {
  background-color: #f5f5fa;
}

.pub-wrap {
  padding: 30px 0 30px;
  border-bottom: 2px solid #E6E6F0;
}
.pub-wrap__h4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 5px;
  font-size: 0.875rem;
  color: #24a3ff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.pub-wrap__h4:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.pub-wrap__h2 {
  font-weight: 700;
  font-size: 2.375rem;
  margin-top: 10px;
  padding-bottom: 3px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
@media (max-width: 375px) {
  .pub-wrap__h2 {
    font-size: 30px;
    line-height: 37px;
  }
}
.pub-wrap__cards {
  display: flex;
  gap: 30px;
  padding-top: 27px;
}
@media (max-width: 948px) {
  .pub-wrap__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.pub-wrap__card {
  width: 33%;
  max-width: 420px;
  background-color: #fff;
  border-radius: 8px;
}
@media (max-width: 948px) {
  .pub-wrap .card-row {
    width: 45% !important;
  }
}
@media (max-width: 550px) {
  .pub-wrap .card-row {
    width: 100% !important;
  }
}
@media (max-width: 948px) {
  .pub-wrap .last-card {
    width: 94%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .pub-wrap .last-card {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .pub-wrap .last-card {
    max-width: 420px;
  }
}
.pub-wrap .last-card__img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 948px) {
  .pub-wrap .last-card__img {
    height: 275px;
    border-radius: 8px 0 0 8px;
  }
}
@media (max-width: 768px) {
  .pub-wrap .last-card__img {
    max-width: 685px;
    border-radius: 8px 8px 0 0;
  }
}
@media (max-width: 550px) {
  .pub-wrap .last-card__img {
    max-width: 420px;
    height: 200px;
  }
}
.pub-wrap__img {
  max-width: 513px;
  min-height: 200px;
  width: 100%;
}
@media (max-width: 1323px) {
  .pub-wrap__img {
    max-width: 420px;
    height: 200px;
  }
}
.pub-wrap__txt-wrap {
  padding: 30px;
}
.pub-wrap__h3 {
  text-decoration: none;
  color: #24a3ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}
.pub-wrap__h3:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.pub-wrap__h5 {
  margin-top: 15px;
  color: #b3b3ba;
  font-size: 0.75rem;
  margin-bottom: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.pub-wrap__line {
  height: 4px;
  background-color: #e6e6f0;
}
.pub-wrap__txt {
  font-weight: 400;
  font-size: 0.875rem;
  margin-top: 15px;
  line-height: 22px;
}

.footer {
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 435px) {
  .footer {
    justify-content: center;
  }
}
.footer__map-contact {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer__map-list {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media (max-width: 435px) {
  .footer__map-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__map-txt {
  color: #323264;
}
.footer__map-link {
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  color: #24a3ff;
  cursor: pointer;
}
.footer__map-link:before {
  content: "";
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  left: 0;
}
.footer__map-link:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.footer__contact-list {
  align-items: center;
  gap: 26px;
}
@media (max-width: 435px) {
  .footer__contact-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__contact-list > img {
  width: 100%;
}
.footer__contact-tel {
  font-weight: 700;
  color: #46466e;
  position: relative;
}
.footer__contact-tel:before {
  content: "";
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  left: 0;
}
.footer__contact-email {
  font-weight: 700;
  color: #24a3ff;
  position: relative;
}
.footer__contact-email:hover {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
.footer__contact-email:before {
  content: "";
  position: absolute;
  padding: 6px;
  border-radius: 50%;
  left: 0;
}
.footer__privacy-policy-txt {
  font-weight: 400;
  color: #b3b3ba;
}

.btn-primary-2 {
  background-color: transparent;
  border-color: transparent;
  border-radius: 8px;
}
.btn-primary-2:hover {
  color: #323264;
  background-color: #e6e6f0;
  border-color: #e6e6f0;
}

.logo-svg-2 {
  width: 100%;
  max-width: 382px;
}

.color-2 {
  color: #24a3ff !important;
}

.info-bgc::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -15px;
  display: block;
  padding-top: 45px;
}
@media (max-width: 500px) {
  .info-bgc::before {
    width: 100vw;
    background-color: #f5f5fa;
  }
}

.main-content {
  padding-top: 60px;
}
@media (max-width: 500px) {
  .main-content {
    padding-top: 0;
  }
}
.main-content__img-wrap {
  display: flex;
  justify-content: center;
}
.main-content__img {
  max-width: 1060px;
  width: 100%;
  border-radius: 12px;
}

.article-wrap {
  padding-top: 30px;
}
.article-wrap__headline {
  color: #323264;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-bottom: 15px;
}
@media (max-width: 375px) {
  .article-wrap__headline {
    font-size: 20px;
    line-height: 24px;
  }
}
.article-wrap__h5 {
  padding-bottom: 30px;
  border-bottom: 4px solid #e6e6f0;
  color: #b3b3ba;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 15px;
}
.article-wrap__txt {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  padding: 30px 0 30px;
}
.article-wrap__h2 {
  font-weight: 700;
  line-height: 46px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
}
@media (max-width: 375px) {
  .article-wrap__h2 {
    font-size: 30px;
    line-height: 37px;
  }
}
.article-wrap__h4 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
  color: #46466e;
  padding: 30px 0 15px;
}
@media (max-width: 375px) {
  .article-wrap__h4 {
    font-size: 16px;
    line-height: 20px;
  }
}
.article-wrap__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.article-wrap__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  gap: 10px;
}
.article-wrap__number {
  padding-left: 20px;
  font-weight: 700;
  color: #f0145a;
}
.article-wrap__img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-wrap__img {
  max-width: 640px;
  width: 100%;
}
.article-wrap__img-txt {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 22px;
  color: #b3b3ba;
}
.article-wrap__h3 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 27px;
  color: #323264;
  margin-bottom: -15px;
}
@media (max-width: 375px) {
  .article-wrap__h3 {
    font-size: 16px;
    line-height: 20px;
  }
}
.article-wrap__social-networks {
  padding: 30px 0 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-top: 4px solid #e6e6f0;
}
.article-wrap__social-networks-img {
  max-width: 42px;
}